/* DoctorMainPageStyle.css */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: #c8f1ff;
}

.main-dashboard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}


.actions-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 270px; /* spazio tra le icone */
    margin-top: 200px;
}

.icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s;
}

.icon-box:hover {
    transform: scale(1.05);
}

.img-icon {
    height: 200px;
    width: 200px;
}

.icon-box p {
    margin-top: 15px;
    font-size: 22px;
    font-weight: 500;
    color: #000;
}

.summary-row {
    display: flex;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 30px;
}

.summary-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    margin-bottom: -10px;
}

.summary-icon {
    width: 50px;
    height: 50px;
}

.text-base {
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
    color: #000;
}

.dashboard-label {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
}

.blue {
    color: #2c6db8;
    font-size: 22px;
    font-weight: bold;
}

.green {
    color: #1ca31c;
    font-size: 22px;
    font-weight: bold;

}

.red {
    color: #e10000;
    font-size: 22px;
    font-weight: bold;
}

body {
    overflow: hidden;
}

.summary-container {
    background-color: #79c4f2; /* come il form */
    border-radius: 20px;
    padding: 1px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    width: 40%;
    max-width: 1000px;
    margin: 60px auto 60px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.summary-row {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
    text-align: center;
}